%div(ng-controller="RssController")

  %form(ng-submit="create()")
    %input(type="text" ng-model="rssUrl" placeholder="e.g. http://digg.com/rss/top.rss")
    %input(type="submit" value="Fetch")
    %a(href="javascript:void(0);" ng-click="toggleFeeds()")
      Feeds

  %ul.rss-urls(style="display: {{feedsDisplay}}")
    %hr
    %li.rss-url(ng-repeat="rssUrl in rssUrls")
      {{rssUrl}}
      %a(href="javascript:void(0);" ng-click="destroy($index)")
        remove

  %hr

  %ul.rss-entries
    %li.rss-entry(ng-repeat="rssEntry in rssEntries")
      %h2.title
        %a(href="{{rssEntry.link}}" target="_blank")
          {{rssEntry.title}}
      &middot;
      %i.published-date
        {{rssEntry.publishedDate}}
      &middot;
      .body
        {{rssEntry.contentSnippet}}

