#loading {
  background-color: #F00;
  color: #FFF;
  position: absolute;
  top: 0;
  padding: 5px 10px;
}
body { margin: 1em; }
body, input, textarea {
  color: #333333;
  font-family: Georgia, Times, serif;
  font-size: 1.35em;
  font-weight: 300;
  line-height: 1.6em;
}
form { margin: 1em; text-align: center; }
form input[type="text"] { width: 50%; }
form input[type="submit"] { display: inline-block; background: #FFF; }
input { padding: 5px 10px; border-style: dotted; border-color: #333; }
.rss-entry { margin-bottom: 1em; }
.rss-entry .header h2.title { display: inline; }


